.app {
  margin: 0;
  padding: 0;
}

.App {
  margin-top: 2em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Form__formSection___3tqxz:before {
  content: 'WEBXFORMS';
  font-weight: bold;
  font-size: 2em;
  border-bottom: 4px solid #FF9900;
  padding: 0 8em 0 0;
}

.Section__sectionHeader___13iO4:before {
}

.Form__formSection___3tqxz input {
/*input {*/
  border: 1px solid #ddd !important;
  background-color: #fff;
}

.Input__input___2Sh1s {
  padding-left: .75em !important;
}

.Anchor__a___3JUCG {
  color: #007aff !important;
  text-decoration: underline !important;
}
