.app-header {
  height: 2em !important;
  min-height: 3.5em !important;
  max-height: 3.5em !important;
  overflow: hidden !important;
}

.navbar-brand {
  width: auto !important;
  position: absolute !important;
  left: 3em !important;
  height: 1.5em !important;
  top: .35em !important;
  padding: 0 !important;
  margin: 0 !important;
  display: block !important;
}

.xforms-brand {
}

.xbrand {
  background-color: #fff !important;
  color: #000 !important;
  font-weight: bold !important;
  font-size: 1.25em;
  /*border: 1px solid red;*/
  position: absolute !important;
  left: 4em;
  top: .75em;
}

.navbar-toggle .navbar-toggle-minify {
  z-index:21000;
  border: 1px solid red;
}

.navbar-header a {
  background-color: #fff;
  position: absolute;
  left: 2.5em;
  top: 0;
}

.Nav__navRight___2cUrh {
  position: absolute;
  right: 3em;
  top: .25em;
  z-index: 2000;
}

.Button__button___1FrBC {
  padding: .5em !important;
  border-radius: 1em;
  min-width: 10em !important;
}

@media (max-width: 991.98px) {
  .navbar-brand {
    left: 1em;
  }
}
