.enketo {
}

.enketo .main {
  /*border: 1px solid red;*/
  margin: 0 auto;
  padding-top: 0;
}

.enketo ul {
  text-decoration: none;
}

.enketo ul > li {
  font-size: 1.25em;
  display: inline-block;
  margin-right: 3em;
  padding: .5em 0;
  text-decoration: underline;
}

.form-footer {
  text-align: center;
}

.form-footer .footer-nav {
  margin: 0 2.75em;
}
