.uploader {
  background-color: #ddd;
  padding: 1em 0;
}

.uploader .content {
  width: 14em;
  margin: 0 auto;
}

.uploader > input {
  display: inline-block;
  margin: .5em;
  cursor: pointer !important;
}

.uploader .content > button {
  background-color: #007aff;
  color: #fff;
  margin: 1em;
  padding: .5em 1em;
  border-radius: .3em;
  cursor: pointer !important;
}
