.uploader {
  /*background-color: #ddd;*/
  /*padding: 1em 0;*/
}

.uploader .content {
  margin: 0 auto;
  background-color: #fff !important;
  padding: 3em;
  text-align: center !important;
  border-radius: 1em;
  border: 3px solid #ccc;
}

.uploader .content > input {
  /*display: inline-block;*/
  /*margin: .5em;*/
  /*cursor: pointer !important;*/
  text-align: center !important;
  /*border: 2px solid red;*/
  width: 14em;
  margin: 1em auto;
  margin-top: 2em;
  margin-bottom: 1em;
}

.uploader .content > button {
  background-color: #007aff;
  color: #fff;
  margin: 1em;
  padding: .5em 1em;
  border-radius: .3em;
  cursor: pointer !important;
}
